* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #3588b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 3px solid white;
}

svg {
  color: white;
  opacity: 0.6;
  position: absolute;
  bottom: 5%;
  left: 4%;
}

svg:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

.content {
  position: absolute;
  width: 42vw;
  height: 51vh;
  top: 24.25vh;
  left: 29vw;
}

.background {
  background-color: white;
  padding: 10px;
  width: 45%;
  margin-left: 27.5%;
  margin-top: 30%;
  text-align: center;
}

.bi-play-circle, #winner {
  display: none;
}
